In [256]:
import pandas as pd
import numpy as np

In [257]:
price = pd.read_csv('price.csv')
pop = pd.read_csv('population.csv')
income = pd.read_csv('disposable.csv')
money = pd.read_csv('money.csv')

# PRICE

In [258]:
price.head()

,年份,北京:新建商品住宅价格指数:当月环比,天津:新建商品住宅价格指数:当月环比,石家庄:新建商品住宅价格指数:当月环比,太原:新建商品住宅价格指数:当月环比,呼和浩特:新建商品住宅价格指数:当月环比,沈阳:新建商品住宅价格指数:当月环比,大连:新建商品住宅价格指数:当月环比,长春:新建商品住宅价格指数:当月环比,哈尔滨:新建商品住宅价格指数:当月环比,...,惠州:新建商品住宅价格指数:当月环比,湛江:新建商品住宅价格指数:当月环比,韶关:新建商品住宅价格指数:当月环比,桂林:新建商品住宅价格指数:当月环比,北海:新建商品住宅价格指数:当月环比,三亚:新建商品住宅价格指数:当月环比,泸州:新建商品住宅价格指数:当月环比,南充:新建商品住宅价格指数:当月环比,遵义:新建商品住宅价格指数:当月环比,大理:新建商品住宅价格指数:当月环比
0,2021,51406.34729,26407.95152,18431.826150,14295.005640,12095.012610,11855.553950,16138.582790,9292.835966,11573.370680,...,12079.453210,13338.981020,5841.622123,7606.732968,6898.527816,34265.450800,8092.863985,7862.445497,6596.155981,17845.897060
1,2020,33709.17488,18634.75537,14993.675520,16494.190730,9449.764926,7891.963327,9573.292239,7983.408001,11957.164240,...,7503.967869,10211.164400,4781.209658,6742.908349,9377.764041,20811.944290,8708.997519,8614.789861,5896.188324,19745.302310
2,2019,23667.93402,17552.82137,9105.739406,14886.494060,3609.250277,3590.698728,5630.947374,4155.891356,6681.570119,...,3940.562427,8905.755119,5374.634638,4732.941179,7378.419738,12429.367090,10940.545770,8557.418051,5194.125885,10265.068440
3,2018,16271.57936,14650.21250,2387.811415,6055.533713,685.035119,1337.189130,1956.192555,1550.033346,2175.823033,...,2907.517334,4570.144055,3714.048855,1958.621235,2663.428711,6331.971294,5672.338543,3897.458281,2023.652492,1818.552055
4,2017,16300.37330,13133.07338,1375.524533,2737.489447,219.006797,476.277231,633.574473,606.071070,701.683261,...,2098.618599,2405.748534,2241.055626,972.707839,1098.966810,2379.170641,2401.276197,1298.014633,770.778059,638.651073

In [259]:
price = price.dropna()

In [260]:
PriceClean= pd.melt(price, id_vars = '年份')

In [261]:
PriceClean.columns = ['年份','城市','新建商品住宅价格（元/m^2）']
price_split = PriceClean['城市'].str.split(':')
PriceClean['城市'] = price_split.str.get(0)

In [262]:
citysplit = PriceClean['城市'].str.split('市')
PriceClean['城市'] = citysplit.str.get(0)

In [263]:
PriceClean.tail()

        年份  城市  新建商品住宅价格（元/m^2）
1115  2010  大理       364.647500
1116  2009  大理       226.450189
1117  2008  大理       179.994064
1118  2007  大理       108.487869
1119  2006  大理        43.277186

In [264]:
PriceClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   年份               1120 non-null   int64
 1   城市               1120 non-null   object
 2   新建商品住宅价格（元/m^2）  1120 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.4+ KB

In [265]:
PriceClean.shape

(1120, 3)

# POPULATION

In [266]:
pop = pop.dropna()
pop = pop.drop([0,1])

In [267]:
PopClean= pd.melt(pop, id_vars = '指标名称')
PopClean.columns = ['年份','城市','人口（万人）']

In [268]:
pop_split = PopClean['城市'].str.split(':')
PopClean['城市'] = pop_split.str.get(0)
PopClean['类型'] = pop_split.str.get(1)
year_split = PopClean['年份'].str.split('-')
PopClean['年份'] = year_split.str.get(0)

In [269]:
citysplit = PopClean['城市'].str.split('市')
PopClean['城市'] = citysplit.str.get(0)

In [270]:
PopClean.tail()

        年份   城市  人口（万人）   类型
1045  2010  大理州  346.00  总人口
1046  2009  大理州  350.80  总人口
1047  2008  大理州  349.30  总人口
1048  2007  大理州  348.00  总人口
1049  2006  大理州  348.60  总人口

In [271]:
PopClean['年份'] = PopClean['年份'].astype('int64')

In [272]:
PopClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年份      1050 non-null   int64
 1   城市      1050 non-null   object
 2   人口（万人）  1050 non-null   object
 3   类型      1050 non-null   object
dtypes: int64(1), object(3)
memory usage: 32.9+ KB

In [273]:
PopClean.shape

(1050, 4)

# INCOME

In [274]:
income.head()

,指标名称,北京:职工平均工资,天津:职工平均工资,石家庄市:职工平均工资,承德市:职工平均工资,张家口市:职工平均工资,秦皇岛市:职工平均工资,唐山市:职工平均工资,保定市:职工平均工资,衡水市:职工平均工资,...,昆明市:职工平均工资,曲靖市:职工平均工资,西安市:职工平均工资,汉中市:职工平均工资,兰州市:职工平均工资,白银市:职工平均工资,西宁市市辖区:职工平均工资,西宁市:职工平均工资,银川市:职工平均工资,乌鲁木齐市:职工平均工资
0,频率,年,年,年,年,年,年,年,年,年,...,年,年,年,年,年,年,年,年,年,年
1,单位,元,元,元,元,元,元,元,元,元,...,元,元,元,元,元,元,元,元,元,元
2,2019-12-31,173205.00,111602.00,78937.00,69365.00,70937.00,80184.00,77990.00,71315.00,64590.00,...,94063.00,79179.00,96867.00,69926.00,88393.00,74018.00,94219.00,91494.00,94559.00,90729.00
3,2018-12-31,149843.00,103931.00,75114.00,65558.00,69520.00,75131.00,74569.00,66548.00,62877.00,...,80253.00,72248.00,87125.00,65916.00,85575.00,66477.00,85631.00,84071.00,87291.00,85990.00
4,2017-12-31,134994.00,96965.00,67880.00,60270.00,63976.00,70753.00,66843.00,63835.00,58014.00,...,76350.00,63591.00,77774.00,60395.00,75709.00,60464.00,69783.00,73540.00,77206.00,78072.00

In [275]:
income = income.dropna()
income = income.drop([0,1])

In [276]:
IncomeClean= pd.melt(income, id_vars = '指标名称')
IncomeClean.columns = ['年份','城市','平均工资（元）']

In [277]:
income_split = IncomeClean['城市'].str.split(':')

In [278]:
IncomeClean['城市'] = income_split.str.get(0)

In [279]:
year_split = IncomeClean['年份'].str.split('-')

In [280]:
IncomeClean['年份'] = year_split.str.get(0)

In [281]:
citysplit = IncomeClean['城市'].str.split('市')
IncomeClean['城市'] = citysplit.str.get(0)

In [282]:
IncomeClean.tail()

        年份    城市   平均工资（元）
1675  2004  乌鲁木齐  18773.46
1676  2003  乌鲁木齐  16509.34
1677  2002  乌鲁木齐  14075.05
1678  2001  乌鲁木齐  12920.97
1679  2000  乌鲁木齐  10597.00

In [283]:
IncomeClean['年份'] = IncomeClean['年份'].astype('int64')
IncomeClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   年份       1680 non-null   int64
 1   城市       1680 non-null   object
 2   平均工资（元）  1680 non-null   object
dtypes: int64(1), object(2)
memory usage: 39.5+ KB

In [284]:
IncomeClean.shape

(1680, 3)

In [285]:
IncomeClean['平均工资（元）'] = IncomeClean['平均工资（元）'].astype('float')

In [286]:
income_mean = IncomeClean.groupby(by=['城市']).mean()

In [287]:
income_mean

          年份     平均工资（元）
城市
三亚    2009.5  37267.0905
上海    2009.5  72155.7635
丹东    2009.5  25344.1995
乌鲁木齐  2009.5  43438.9815
九江    2009.5  30634.9440
...      ...         ...
长沙    2009.5  44363.5135
阳泉    2009.5  34755.9390
青岛    2009.5  43734.9745
韶关    2009.5  36208.8455
齐齐哈尔  2009.5  29408.7100

[82 rows x 2 columns]

# MONEY

In [288]:
money.tail()

      年份     M2(亿元)  Unnamed: 2
22  1999  111960.57         NaN
23  1998   96542.94         NaN
24  1997   83468.36         NaN
25  1996   68509.34         NaN
26  1995   60750.50         NaN

In [289]:
money = money.dropna(axis='columns')

In [290]:
MoneyClean= money

In [291]:
MoneyClean.head()

     年份      M2(亿元)
0  2021  2274427.64
1  2020  2116532.13
2  2019  1918385.98
3  2018  1770223.58
4  2017  1626456.20

In [292]:
MoneyClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年份      27 non-null     int64
 1   M2(亿元)  27 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 560.0 bytes

In [293]:
MoneyClean.shape

(27, 2)

# merge

In [294]:
Fulldf = PriceClean.merge(PopClean, on = ['年份', '城市'])

In [295]:
Fulldf.shape

(1035, 5)

In [296]:
Fulldf

        年份  城市  新建商品住宅价格（元/m^2）   人口（万人）    类型
0     2020  北京     33709.174880  2189.31  常住人口
1     2019  北京     23667.934020  2153.60  常住人口
2     2018  北京     16271.579360  2154.20  常住人口
3     2017  北京     16300.373300  2170.70  常住人口
4     2016  北京      7643.310796  2172.90  常住人口
...    ...  ..              ...      ...   ...
1030  2010  遵义       243.080878   613.29  常住人口
1031  2009  遵义       157.871946   627.37  常住人口
1032  2008  遵义       135.592883   641.63  常住人口
1033  2007  遵义       103.679185   653.98  常住人口
1034  2006  遵义        71.521272   667.85  常住人口

[1035 rows x 5 columns]

In [297]:
Fulldf = Fulldf.merge(IncomeClean, on = ['年份', '城市'])

In [298]:
Fulldf.shape

(896, 6)

In [299]:
Fulldf

       年份  城市  新建商品住宅价格（元/m^2）   人口（万人）    类型    平均工资（元）
0    2019  北京     23667.934020  2153.60  常住人口  173205.00
1    2018  北京     16271.579360  2154.20  常住人口  149843.00
2    2017  北京     16300.373300  2170.70  常住人口  134994.00
3    2016  北京      7643.310796  2172.90  常住人口  122749.00
4    2015  北京      1046.264592  2170.50  常住人口  113073.00
..    ...  ..              ...      ...   ...        ...
891  2010  遵义       243.080878   613.29  常住人口   32923.03
892  2009  遵义       157.871946   627.37  常住人口   30260.82
893  2008  遵义       135.592883   641.63  常住人口   25941.73
894  2007  遵义       103.679185   653.98  常住人口   21771.02
895  2006  遵义        71.521272   667.85  常住人口   17940.27

[896 rows x 6 columns]

In [300]:
Fulldf = Fulldf.merge(MoneyClean, on = ['年份'])

In [301]:
Fulldf.shape

(896, 7)

In [302]:
Fulldf

       年份    城市  新建商品住宅价格（元/m^2）     人口（万人）      类型    平均工资（元）      M2(亿元)
0    2019    北京     23667.934020    2153.60    常住人口  173205.00  1918385.98
1    2019    天津     17552.821370    1561.83    常住人口  111602.00  1918385.98
2    2019   石家庄      9105.739406    1103.12    常住人口   78937.00  1918385.98
3    2019    太原     14886.494060     446.19    常住人口   82860.00  1918385.98
4    2019  呼和浩特      3609.250277     313.70  年末常住人口   84105.00  1918385.98
..    ...   ...              ...        ...     ...        ...         ...
891  2006    韶关       172.364208     290.94    常住人口   20033.73   322611.51
892  2006    桂林       172.282071     488.06    常住人口   17613.40   322611.51
893  2006    北海         5.519726     157.62    常住人口   15095.79   322611.51
894  2006    三亚        12.698696  524170.00    户籍人口   18490.47   322611.51
895  2006    遵义        71.521272     667.85    常住人口   17940.27   322611.51

[896 rows x 7 columns]

In [ ]:
Fulldf.to_csv('fulldata.csv')