In [2]:
import pandas as pd
import numpy as np

In [3]:
price = pd.read_csv('price.csv')
pop = pd.read_csv('population.csv')
income = pd.read_csv('disposable.csv')
money = pd.read_csv('money.csv')

# PRICE

In [4]:
price.head()

,年份,北京:新建商品住宅价格指数:当月环比,天津:新建商品住宅价格指数:当月环比,石家庄:新建商品住宅价格指数:当月环比,太原:新建商品住宅价格指数:当月环比,呼和浩特:新建商品住宅价格指数:当月环比,沈阳:新建商品住宅价格指数:当月环比,大连:新建商品住宅价格指数:当月环比,长春:新建商品住宅价格指数:当月环比,哈尔滨:新建商品住宅价格指数:当月环比,...,惠州:新建商品住宅价格指数:当月环比,湛江:新建商品住宅价格指数:当月环比,韶关:新建商品住宅价格指数:当月环比,桂林:新建商品住宅价格指数:当月环比,北海:新建商品住宅价格指数:当月环比,三亚:新建商品住宅价格指数:当月环比,泸州:新建商品住宅价格指数:当月环比,南充:新建商品住宅价格指数:当月环比,遵义:新建商品住宅价格指数:当月环比,大理:新建商品住宅价格指数:当月环比
0,2021,62326.09222,25810.12106,14730.71958,11558.251790,11191.480730,12057.780280,18024.25651,9565.267340,9589.190077,...,11548.892740,10826.222120,6154.218183,6960.802068,6171.969893,38364.39012,6542.291025,6342.333072,6052.709701,13114.519800
1,2020,59738.79954,24917.02232,14417.57701,11718.936020,10899.244630,11542.818700,17088.71499,9410.717349,9613.224108,...,10952.698410,10529.450960,6029.605470,6871.549559,6355.109448,36414.98310,6585.520380,6390.673693,5982.775408,13246.514600
2,2019,57549.03897,24756.88849,13648.69946,11572.626240,9772.957638,10624.206440,16140.75984,8773.008009,9018.848016,...,10270.005060,10367.138120,6093.087479,6607.327898,6183.307909,34512.13334,6729.491467,6372.137607,5898.229569,12278.468290
3,2018,55397.90708,24302.31175,11786.96383,10499.877960,8105.681383,9551.914125,14393.44173,7899.424135,7976.936553,...,9953.405897,9652.395059,5852.109121,6022.711879,5533.549634,31749.61013,6238.517704,5814.736694,5314.876704,10165.370810
4,2017,55398.86918,24034.80690,11186.74504,9688.155721,7273.922619,8577.504372,12837.07110,7173.569597,7105.370283,...,9625.009929,9015.260764,5541.824701,5592.286051,5018.023874,28823.07290,5727.437779,5205.399780,4826.252154,9190.488136

In [5]:
price = price.dropna()

In [6]:
PriceClean= pd.melt(price, id_vars = '年份')

In [7]:
PriceClean.columns = ['年份','城市','新建商品住宅价格（元/m^2）']
price_split = PriceClean['城市'].str.split(':')
PriceClean['城市'] = price_split.str.get(0)

In [8]:
citysplit = PriceClean['城市'].str.split('市')
PriceClean['城市'] = citysplit.str.get(0)

In [9]:
PriceClean.tail()

        年份  城市  新建商品住宅价格（元/m^2）
1115  2010  大理      8628.968874
1116  2009  大理      8183.017605
1117  2008  大理      7984.796723
1118  2007  大理      7358.391587
1119  2006  大理      6763.206970

In [10]:
PriceClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1120 entries, 0 to 1119
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   年份               1120 non-null   int64
 1   城市               1120 non-null   object
 2   新建商品住宅价格（元/m^2）  1120 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.4+ KB

In [11]:
PriceClean.shape

(1120, 3)

# POPULATION

In [12]:
pop = pop.dropna()
pop = pop.drop([0,1])

In [13]:
PopClean= pd.melt(pop, id_vars = '指标名称')
PopClean.columns = ['年份','城市','人口（万人）']

In [14]:
pop_split = PopClean['城市'].str.split(':')
PopClean['城市'] = pop_split.str.get(0)
PopClean['类型'] = pop_split.str.get(1)
year_split = PopClean['年份'].str.split('-')
PopClean['年份'] = year_split.str.get(0)

In [15]:
citysplit = PopClean['城市'].str.split('市')
PopClean['城市'] = citysplit.str.get(0)

In [16]:
PopClean.tail()

        年份   城市  人口（万人）   类型
1045  2010  大理州  346.00  总人口
1046  2009  大理州  350.80  总人口
1047  2008  大理州  349.30  总人口
1048  2007  大理州  348.00  总人口
1049  2006  大理州  348.60  总人口

In [17]:
PopClean['年份'] = PopClean['年份'].astype('int64')

In [18]:
PopClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年份      1050 non-null   int64
 1   城市      1050 non-null   object
 2   人口（万人）  1050 non-null   object
 3   类型      1050 non-null   object
dtypes: int64(1), object(3)
memory usage: 32.9+ KB

In [19]:
PopClean.shape

(1050, 4)

# INCOME

In [20]:
income.head()

,指标名称,北京:职工平均工资,天津:职工平均工资,石家庄市:职工平均工资,承德市:职工平均工资,张家口市:职工平均工资,秦皇岛市:职工平均工资,唐山市:职工平均工资,保定市:职工平均工资,衡水市:职工平均工资,...,昆明市:职工平均工资,曲靖市:职工平均工资,西安市:职工平均工资,汉中市:职工平均工资,兰州市:职工平均工资,白银市:职工平均工资,西宁市市辖区:职工平均工资,西宁市:职工平均工资,银川市:职工平均工资,乌鲁木齐市:职工平均工资
0,频率,年,年,年,年,年,年,年,年,年,...,年,年,年,年,年,年,年,年,年,年
1,单位,元,元,元,元,元,元,元,元,元,...,元,元,元,元,元,元,元,元,元,元
2,2019-12-31,173205.00,111602.00,78937.00,69365.00,70937.00,80184.00,77990.00,71315.00,64590.00,...,94063.00,79179.00,96867.00,69926.00,88393.00,74018.00,94219.00,91494.00,94559.00,90729.00
3,2018-12-31,149843.00,103931.00,75114.00,65558.00,69520.00,75131.00,74569.00,66548.00,62877.00,...,80253.00,72248.00,87125.00,65916.00,85575.00,66477.00,85631.00,84071.00,87291.00,85990.00
4,2017-12-31,134994.00,96965.00,67880.00,60270.00,63976.00,70753.00,66843.00,63835.00,58014.00,...,76350.00,63591.00,77774.00,60395.00,75709.00,60464.00,69783.00,73540.00,77206.00,78072.00

In [21]:
income = income.dropna()
income = income.drop([0,1])

In [22]:
IncomeClean= pd.melt(income, id_vars = '指标名称')
IncomeClean.columns = ['年份','城市','平均工资（元）']

In [23]:
income_split = IncomeClean['城市'].str.split(':')

In [24]:
IncomeClean['城市'] = income_split.str.get(0)

In [25]:
year_split = IncomeClean['年份'].str.split('-')

In [26]:
IncomeClean['年份'] = year_split.str.get(0)

In [27]:
citysplit = IncomeClean['城市'].str.split('市')
IncomeClean['城市'] = citysplit.str.get(0)

In [28]:
IncomeClean.tail()

        年份    城市   平均工资（元）
1675  2004  乌鲁木齐  18773.46
1676  2003  乌鲁木齐  16509.34
1677  2002  乌鲁木齐  14075.05
1678  2001  乌鲁木齐  12920.97
1679  2000  乌鲁木齐  10597.00

In [29]:
IncomeClean['年份'] = IncomeClean['年份'].astype('int64')
IncomeClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   年份       1680 non-null   int64
 1   城市       1680 non-null   object
 2   平均工资（元）  1680 non-null   object
dtypes: int64(1), object(2)
memory usage: 39.5+ KB

In [30]:
IncomeClean.shape

(1680, 3)

In [31]:
IncomeClean['平均工资（元）'] = IncomeClean['平均工资（元）'].astype('float')

In [32]:
income_mean = IncomeClean.groupby(by=['城市']).mean()

In [33]:
income_mean

          年份     平均工资（元）
城市
三亚    2009.5  37267.0905
上海    2009.5  72155.7635
丹东    2009.5  25344.1995
乌鲁木齐  2009.5  43438.9815
九江    2009.5  30634.9440
...      ...         ...
长沙    2009.5  44363.5135
阳泉    2009.5  34755.9390
青岛    2009.5  43734.9745
韶关    2009.5  36208.8455
齐齐哈尔  2009.5  29408.7100

[82 rows x 2 columns]

# MONEY

In [34]:
money.tail()

      年份     M2(亿元)  Unnamed: 2
22  1999  111960.57         NaN
23  1998   96542.94         NaN
24  1997   83468.36         NaN
25  1996   68509.34         NaN
26  1995   60750.50         NaN

In [35]:
money = money.dropna(axis='columns')

In [36]:
MoneyClean= money

In [37]:
MoneyClean.head()

     年份      M2(亿元)
0  2021  2274427.64
1  2020  2116532.13
2  2019  1918385.98
3  2018  1770223.58
4  2017  1626456.20

In [38]:
MoneyClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   年份      27 non-null     int64
 1   M2(亿元)  27 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 560.0 bytes

In [39]:
MoneyClean.shape

(27, 2)

# merge

In [40]:
Fulldf = PriceClean.merge(PopClean, on = ['年份', '城市'])

In [41]:
Fulldf.shape

(1035, 5)

In [42]:
Fulldf

        年份  城市  新建商品住宅价格（元/m^2）   人口（万人）    类型
0     2020  北京     59738.799540  2189.31  常住人口
1     2019  北京     57549.038970  2153.60  常住人口
2     2018  北京     55397.907080  2154.20  常住人口
3     2017  北京     55398.869180  2170.70  常住人口
4     2016  北京     49387.971280  2172.90  常住人口
...    ...  ..              ...      ...   ...
1030  2010  遵义      4268.428447   613.29  常住人口
1031  2009  遵义      4076.642595   627.37  常住人口
1032  2008  遵义      4009.405992   641.63  常住人口
1033  2007  遵义      3849.810612   653.98  常住人口
1034  2006  遵义      3696.721614   667.85  常住人口

[1035 rows x 5 columns]

In [43]:
Fulldf = Fulldf.merge(IncomeClean, on = ['年份', '城市'])

In [44]:
Fulldf.shape

(896, 6)

In [45]:
Fulldf

       年份  城市  新建商品住宅价格（元/m^2）   人口（万人）    类型    平均工资（元）
0    2019  北京     57549.038970  2153.60  常住人口  173205.00
1    2018  北京     55397.907080  2154.20  常住人口  149843.00
2    2017  北京     55398.869180  2170.70  常住人口  134994.00
3    2016  北京     49387.971280  2172.90  常住人口  122749.00
4    2015  北京     40591.790440  2170.50  常住人口  113073.00
..    ...  ..              ...      ...   ...        ...
891  2010  遵义      4268.428447   613.29  常住人口   32923.03
892  2009  遵义      4076.642595   627.37  常住人口   30260.82
893  2008  遵义      4009.405992   641.63  常住人口   25941.73
894  2007  遵义      3849.810612   653.98  常住人口   21771.02
895  2006  遵义      3696.721614   667.85  常住人口   17940.27

[896 rows x 6 columns]

In [46]:
Fulldf = Fulldf.merge(MoneyClean, on = ['年份'])

In [47]:
Fulldf.shape

(896, 7)

In [48]:
Fulldf

       年份    城市  新建商品住宅价格（元/m^2）     人口（万人）      类型    平均工资（元）      M2(亿元)
0    2019    北京     57549.038970    2153.60    常住人口  173205.00  1918385.98
1    2019    天津     24756.888490    1561.83    常住人口  111602.00  1918385.98
2    2019   石家庄     13648.699460    1103.12    常住人口   78937.00  1918385.98
3    2019    太原     11572.626240     446.19    常住人口   82860.00  1918385.98
4    2019  呼和浩特      9772.957638     313.70  年末常住人口   84105.00  1918385.98
..    ...   ...              ...        ...     ...        ...         ...
891  2006    韶关      4179.583924     290.94    常住人口   20033.73   322611.51
892  2006    桂林      4567.821755     488.06    常住人口   17613.40   322611.51
893  2006    北海      2627.180008     157.62    常住人口   15095.79   322611.51
894  2006    三亚     13966.240140  524170.00    户籍人口   18490.47   322611.51
895  2006    遵义      3696.721614     667.85    常住人口   17940.27   322611.51

[896 rows x 7 columns]

In [49]:
Fulldf.to_csv('fulldata.csv', index=False)